/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #132043;
  --ifm-color-primary-dark: #111d3c;
  --ifm-color-primary-darker: #101b39;
  --ifm-color-primary-darkest: #0d162f;
  --ifm-color-primary-light: #15234a;
  --ifm-color-primary-lighter: #16254d;
  --ifm-color-primary-lightest: #192a57;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */

/* Overriding root Infima variables */
[data-theme='dark'] {
  --ifm-color-primary: #ffffff;
}
/* Styling one class specially in dark mode */
[data-theme='dark'] .purple-text {
  color: plum;
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 18px;
  }
  article header h1 {
    font-size: 1.5rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 17px;
  }
  article header h1 {
    font-size: 2rem !important;
  }
}

a {
  color: #1640D6;
}